<%= form_for @map do |form| %>
  <%= render "shared/error_messages", target: @map %>

  <fieldset>
    <table>
      <tr>
	<td><%= form.label :name, "Map Name" %></td>
	<td><%= form.text_field :name %></td>
      </tr>

      <tr>
	<td><%= form.label :image_url, "Image URL" %></td>
	<td><%= form.text_field :image_url %></td>
      </tr>
    </table>

    <%= form.submit "Submit", id: "submitButton" %>
  </fieldset>
<% end %>
