<%= form_for @map, html: { multipart: true } do |form| %>
  <%= render "shared/error_messages", target: @map %>

  <fieldset>
    <table>
      <tr>
	<td><%= form.label :name, "Map Name" %></td>
	<td><%= form.text_field :name %></td>
      </tr>

      <tr>
	<td><%= form.label :image, "Map Image" %></td>
	<td><%= form.file_field :image %></td>
      </tr>
    </table>

    <%= form.submit "Submit", id: "submitButton" %>
  </fieldset>
<% end %>
