<%
   league ||= Tournament::ALL
   title ||= "Tournament Open to All"
%>
<h2><%= title %></h2>
<% if league == Tournament::ALL %>
  <% tournaments = Tournament.where("league = ? AND registration_time < ? AND start_time > ?", Tournament::ALL, Time.now, Time.now).limit(5) %>
<% else %>
  <% tournaments = Tournament.where("league & ? = ? AND league != ? AND registration_time < ? AND start_time > ?", league, league, Tournament::ALL, Time.now, Time.now).limit(5) %>
<% end %>

<% tournament_count = 0 %>
<% tournaments.each do |tournament| %>
  <% tournament_count += 1 %>
  <div class="tournamentRow <%= tournament_count % 2 == 0 ? "lightRow" : "darkRow"%>">
    <h3><%= link_to"#{tournament.name}", tournament_path(tournament) %></h3>
    
    <table>
      <tr>
	<td>Starts In: <b><%= to_time_remaining(tournament.start_time) %></b></td>
	<% waiting_player_color = tournament.max_players < tournament.waiting_players.count ? "red" : "green" %>
	<td class="<%= waiting_player_color %>">Number of Players: <%= tournament.waiting_players.count %>/<%=tournament.max_players %></td>
	<td class="leagueIcons">
	  <% possible_leagues = Tournament::LEAGUES.keys %>
	  <% possible_leagues.delete(Tournament::ALL) %>
	  <% possible_leagues.each do |possible_league| %>
	    <% league_img = "#{Tournament::LEAGUES[possible_league].gsub(/ /, '_').underscore}.png" %>
	    <%= image_tag league_img if league & possible_league > 0 %>
	  <% end %>
	</td>
      </tr>
    </table>
  </div>
<% end %>
