<div class="tournamentPanel" id="playerActions">
  <h2>Player Actions</h2>

  <% if !@waiting_player.player_accepted %>
    <p>You are on the waiting list. You have no available actions.</p>
  <% elsif !@tournament.started? %>
    <p>You are currently registered for this tournament. You will be able to use this section once the tournament starts.</p>
  <% else %>
    <%= javascript_include_tag "cloud_chat_client.js" %>

    <% match = current_match(@tournament, @waiting_player) %>
    <% player_relation = match.match_player_relations.where(waiting_player_id: @waiting_player.id).first %>
    <% other_relation = match.match_player_relations.where("waiting_player_id != ?", @waiting_player.id).first %>
    <% game = match.games.last %>

    <table id="matchInfo">
      <tr style="font-weight: bold;">
	<td><p style="padding-left: 15px;">Current Match</p></td>
	<td style="text-align: center;"><p>Score</p></td>
	<td style="text-align: right;"><p style="padding-right: 15px;">Best Of</p></td>
      </tr>
      <tr>
	<% other_player = other_relation.nil? ? "N/A" : other_relation.waiting_player.user.login %>
	<% other_wins = other_relation.nil? ? 0 : match.games.where(winner_id: other_relation.waiting_player.id).count %>
	<td><p style="padding-left: 15px;"><%= @waiting_player.user.login %> vs. <%= other_player %></p></td>
	<td style="text-align: center;"><p>You: <%= match.games.where(winner_id: @waiting_player.id).count %> | Opponent: <%= other_wins %></p></td>
	<td style="text-align: right;"><p style="padding-right: 30px;"><%= match.best_of %></p></td>
      </tr>
    </table>

    <div id="matchInfoActionContainer">
      <div id="matchChatContainer">
	<% if !other_relation.nil? && match.winner_id.nil?%>
	  <table id="chatAndMapTable" cellspacing="0" cellpadding="0">
	    <tr>
	      <td class="chatColumn" style="font-weight: bold; text-align: center;">Chat with Opponent</td>
	      <td class="mapColumn">Current Map</td>
	    </tr>

	    <tr>
	      <td class="chatColumn">
		<div id="matchChat"></div>
	      </td>
	      <td class="mapColumn">
		<% map_name = "" %>
		<% if match.games.count == 1 %>
		  <% map_num = match.previous_matches.length % match.tournament.map_lists.count %>
		  <% map = match.tournament.map_lists[map_num].map %>
		  <% map_name = map.name %>
		  <%= image_tag map.image_url, height: '200', width: '200' %>
	        <% else %>
		  <% map_name = "Loser's Pick" %>
		  <%= image_tag "loser_pick.png" %>
		<% end %>
	      </td>
	    </tr>

	    <tr>
	      <td class="chatColumn">
		<%= form_tag "javascript:void(0)", id: "chatMessageForm", autocomplete: "off" do %>
		  <%= hidden_field_tag :recipient_id, other_relation.waiting_player.user.chat_profile.chat_id %>
		  <%= text_field_tag :message, "", id: "chatMessageInput" %><%= submit_tag "Send", id: "chatMessageSubmit" %>
		<% end %>
	      </td>
	      <td class="mapColumn"><%= map_name %></td>
	    </tr>
	  </table>
	<% elsif match.winner_id.nil? && match.bye? %>
	  <div class="noChatMessage">This match is a bye.</div> 
	<% elsif match.winner_id.nil? %>
	  <div class="noChatMessage">Waiting for other player to join.</div>
	<% elsif match.winner_id == @waiting_player.id %>
	  <div class="noChatMessage">Congratulations, you won!</div>
	<% else %>
	  <div class="noChatMessage">Sorry! You lost :(</div>
	<% end %>
      </div>
      
      <div id="matchActionContainer">
	<% if player_relation.accepted %>
	  <div class="actionButton disabledAction">Match Accepted</div>

	  <% both_accepted = match.match_player_relations.where(accepted: true).count == 2 %>
	  <% if match.bye? || both_accepted && match.winner_id.nil? %>
	    <%= form_for match, url: tournament_match_path(@tournament, match), html: { id: "winGameForm" } do |f| %>
	      <%= f.fields_for :games, :last do |builder| %>
	        <%= builder.hidden_field :winner_id, value: @waiting_player.id %>
	      <% end %>
	      <%= f.submit "Win Game", class: "actionButton activeAction" %>
	    <% end %>
	  <% elsif match.winner_id.nil? %>
	    <div class="actionButton disabledAction">Waiting For Other</div>
	  <% end %>
	<% else %>
	  <%= form_for player_relation, url: tournament_match_match_player_relation_path(@tournament, match, player_relation) do |f| %>
	    <%= f.hidden_field :accepted, value: 1 %>
	    <%= f.submit "Accept Match", class: "actionButton activeAction" %>
	  <% end %>
        <% end %>

	<% if player_relation.contested %>
	  <%= form_for player_relation, remote: true, url: tournament_match_match_player_relation_path(@tournament, match, player_relation, format: :json), html: { id: "callModForm" } do |f| %>
	    <%= f.hidden_field :contested, value: 0 %>
	    <%= f.submit "Dismiss Mod Call", class: "actionButton activeAction" %>
	  <% end %>
	<% else %>
	  <%= form_for player_relation, remote: true, url: tournament_match_match_player_relation_path(@tournament, match, player_relation, format: :json), html: { id: "callModForm" } do |f| %>
	    <%= f.hidden_field :contested, value: 1 %>
	    <%= f.submit "Call Mods", class: "actionButton activeAction" %>
	  <% end %>
	<% end %>
      </div>
    </div>
  <% end %>
</div>
