<% url = tournament_path(@tournament) unless @tournament.new_record? %>
<%= form_for @tournament, url: url do |form| %>
  <%= render "shared/error_messages", target: @tournament %>
  
  <fieldset>
    <table>
      <tr>
	<td><%= form.label :name, "Name" %></td>
	<td><%= form.text_field :name %></td>

      <tr>
	<td><%= form.label :league, "League" %></td>
	<td><%= select_tag "tournament[league]", options_for_select(Tournament::LEAGUES.keys.collect { |k| [Tournament::LEAGUES[k], k] }) %></td>
      </tr>

      <tr>
	<td><%= form.label :type, "Format" %></td>
	<td><%= select_tag "tournament[type]", options_for_select([["Single Elimination", "SingleEliminationTournament"]]) %></td>
      </tr>

      <tr>
	<td><%= form.label :start_time, "Start Time" %></td>
	<td><%= form.datetime_select :start_time, default: 1.hours.from_now %></td>
      </tr>

      <tr>
	<td><%= form.label :registration_time, "Registration Time" %></td>
	<td><%= form.datetime_select :registration_time, default: Time.now %></td>
      </tr>

      <tr>
	<td><%= form.label :max_players, "Max. Players" %></td>
	<td><%= form.text_field :max_players %></td>
      </tr>
    </table>

    <%= form.submit "Submit", id: "submitButton" %>
  </fieldset>
<% end %>
