<% @tournament = @tournament.becomes(Tournament) %>
<%= form_for @tournament do |form| %>
  <%= render "shared/error_messages", target: @tournament %>
  
  <fieldset>
    <table>
      <tr>
	<td><%= form.label :name, "Name" %></td>
	<td><%= form.text_field :name %></td>

      <tr>
	<td><%= form.label :league, "League" %></td>
	<td>
	  <% Tournament::LEAGUES.keys.each do |key| %>
	    <% if @tournament.league == Tournament::ALL %>
	      <% checked = 'checked' %>
	    <% elsif key != Tournament::ALL && @tournament.league & key > 0 %>
	      <% checked = 'checked' %>
	    <% else %>
	      <% checked = false %>
	    <% end %>
	    
	    <%= check_box_tag "tournament[league][#{key}]", 1, false, class: "leagueCheckBox", checked: checked %>
	    <%= form.label "league_#{key}", Tournament::LEAGUES[key] %>
	  <% end %>
      </tr>

      <tr>
	<% tournament_type = @tournament.type %>
	<td><%= form.label :type, "Format" %></td>
	<td><%= select_tag "tournament[type]", options_for_select([["Single Elimination", "SingleEliminationTournament"]], tournament_type) %></td>
      </tr>

      <tr>
	<td><%= form.label :start_time, "Start Time" %></td>
	<td><%= form.datetime_select :start_time, default: 1.hours.from_now %></td>
      </tr>

      <tr>
	<td><%= form.label :registration_time, "Registration Time" %></td>
	<td><%= form.datetime_select :registration_time, default: Time.now %></td>
      </tr>

      <tr>
	<td><%= form.label :max_players, "Max. Players" %></td>
	<td><%= form.text_field :max_players %></td>
      </tr>

      <tr>
	<td><%= form.label :prize, "Prize ($)" %></td>
	<td><%= form.text_field :prize %></td>
      </tr>
    </table>

    <%= form.submit "Submit", id: "submitButton" %>
  </fieldset>
<% end %>
