<h1 id="tournamentHeader">Tournament List</h1>

<div class="actionLinksContainer">
  <div class="actionLinks">
    <%= link_to "New Tournament", new_tournament_path if can?(:create, Tournament) %>
    <%= link_to "View All", "#" %>
  </div>
</div>

<div class="tournamentPanel" style="margin-top: 10px;">
  <%= render "league_index", league: Tournament::ALL, title: "Tournaments Open to All" %>
</div>

<div class="tournamentPanel">
  <%= render "league_index", league: Tournament::GRAND_MASTER, title: "Grand Master Tournaments" %>
</div>

<div class="tournamentPanel">
  <%= render "league_index", league: Tournament::MASTER, title: "Master Tournaments" %>
</div>

<div class="tournamentPanel">
  <%= render "league_index", league: Tournament::DIAMOND, title: "Diamond Tournaments" %>
</div>

<div class="tournamentPanel">
  <%= render "league_index", league: Tournament::PLATINUM, title: "Platinum Tournaments" %>
</div>

<div class="tournamentPanel">
  <%= render "league_index", league: Tournament::GOLD, title: "Gold Tournaments" %>
</div>

<div class="tournamentPanel">
  <%= render "league_index", league: Tournament::SILVER, title: "Silver Tournaments" %>
</div>

<div class="tournamentPanel">
  <%= render "league_index", league: Tournament::BRONZE, title: "Bronze Tournaments" %>
</div>
