<% title "Starcraft 2 Tournaments" %>
<h1 id="tournamentHeader">Tournament List</h1>

<div class="actionLinksContainer">
  <div class="actionLinks">
    <%= link_to "New Tournament", new_tournament_path if can?(:create, Tournament) %>
    <%= link_to "View All", "#" %>
  </div>
</div>

<div class="tournamentPanel" style="margin-top: 10px;">
  <h2>Tournaments Open to All</h2>
  <%= render "column_names" %>
  <%= render "league_index", league: Tournament::ALL %>
</div>

<div class="tournamentPanel">
  <h2>Grand Master Tournaments</h2>
  <%= render "column_names" %>
  <%= render "league_index", league: Tournament::GRAND_MASTER %>
</div>

<div class="tournamentPanel">
  <h2>Master Tournaments</h2>
  <%= render "column_names" %>
  <%= render "league_index", league: Tournament::MASTER %>
</div>

<div class="tournamentPanel">
  <h2>Diamond Tournaments</h2>
  <%= render "column_names" %>
  <%= render "league_index", league: Tournament::DIAMOND %>
</div>

<div class="tournamentPanel">
  <h2>Platinum Tournaments</h2>
  <%= render "column_names" %>
  <%= render "league_index", league: Tournament::PLATINUM %>
</div>

<div class="tournamentPanel">
  <h2>Gold Tournaments</h2>
  <%= render "column_names" %>
  <%= render "league_index", league: Tournament::GOLD %>
</div>

<div class="tournamentPanel">
  <h2>Silver Tournaments</h2>
  <%= render "column_names" %>
  <%= render "league_index", league: Tournament::SILVER %>
</div>

<div class="tournamentPanel">
  <h2>Bronze Tournaments</h2>
  <%= render "column_names" %>
  <%= render "league_index", league: Tournament::BRONZE %>
</div>
