<% title "Starcraft 2 Tournament - #{@tournament.name}" %>
<h1 id="tournamentHeader"><%= @tournament.name %></h1>

<% player = current_user_player || new_player(@tournament, current_user) %>

<% if (can?(:create, player) && player.new_record?) || (can?(:destroy, player) && !player.id.nil?) || can?(:update, @tournament) %>
  <div class="actionLinksContainer">
    <div class="actionLinks">
      <%= link_to "Join Tournament", tournament_waiting_players_path(@tournament), method: :post, waiting_player: player.to_json if can?(:create, player) && player.new_record? %>
      <%= link_to "Leave Tournament", tournament_waiting_player_path(@tournament, player), method: :delete if can?(:destroy, player) && !player.id.nil? %>
      <%= link_to "Edit Tournament", edit_tournament_path(@tournament) if can?(:update, @tournament) %>
    </div>
  </div>
<% end %>

<div class="inlineBlockContainer">
  <div id="tournamentQuickInfo">
    <h2>Quick Info</h2>
    <a href="javascript:void(0)" id="hideShowQuickInfo">Show</a>
    <div id="quickInfoContainer">
      <table>
	<tr><td style="text-align: center; padding-left: 0;">
	    <% leagues = Tournament::LEAGUES.keys %>
	    <% leagues.delete(Tournament::ALL) %>
	    <% leagues.each do |league| %>
	      <%= image_tag image_for_league(league) if @tournament.league & league > 0 %>
	    <% end %>
	</td></tr>
	<tr><td>
	    Starts In: <b><%= to_time_remaining @tournament.start_time %></b>
	</td></tr>
	<tr><td>
	    Spots Open: <b><%= @tournament.open_spots %></b>
	</td></tr>
	<tr><td style="border-bottom: 0;">
	    Prize Pool: <b>$<%= @tournament.prize %></b>
	</td></tr>
      </table>
    </div>
  </div>
  
  <div id="tournamentPlayerList">
    <h2>Player List</h2>
    <a href="javascript:void(0)" id="hideShowPlayerList">Show</a>
    <div id="playerListContainer">
      <table>
	<% player_count = 0 %>
	<% accepted_players = @tournament.waiting_players.where(player_accepted: true) %>
	<% accepted_players.each do |player| %>
	  <% if player_count % 5 == 0 %><tr><% end %>
          <% player_count += 1 %>
	  <% cell_class = player_count.even? ? "lightCell" : "darkCell" %>
          <td class="playerListEntry <%= cell_class %>"><%= player.user.login %></td>
	  <% if player_count % 5 == 0 %></tr><% end %>
	<% end %>
	<% if accepted_players.length % 5 != 0 && @tournament.open_spots == 0 %></tr><% end %>

	<% @tournament.open_spots.times do %>
	  <% if player_count % 5 == 0 %><tr><% end %>
          <% player_count += 1 %>
	  <% cell_class = "openSpot" %>
	  <% cell_class += player_count.even? ? " lightCell" : " darkCell" %>
          <td class="playerListEntry <%= cell_class %>">Open Spot</td>
	  <% if player_count % 5 == 0 %></tr><% end %>
        <% end %>
	<% if accepted_players.length % 5 != 0 %></tr><% end %>
      </table>

      <% waiting_list = @tournament.waiting_players.where(player_accepted: false) %>
      <% if !waiting_list.empty? %>
        <h3>Waiting List</h3>
        <table>
	 <% player_count = 0 %>
	 <% waiting_list.each do |waiter| %>
	   <% if player_count % 5 == 0 %><tr><% end %>
	   <% player_count += 1 %>
	   <% cell_class = player_count.even? ? "lightCell" : "darkCell" %>
	   <td class="waitingListEntry <%= cell_class %>"><%= waiter.user.login %></td>
	   <% if player_count % 5 == 0 %></tr><% end %>
	 <% end %>

	 <% remaining_cells = (5 - (player_count % 5)) % 5 %>
	 <% remaining_cells.times do %>
	   <% player_count += 1 %>
	   <% cell_class = player_count.even? ? "lightCell" : "darkCell" %>
	   <td class="waitingListEntry openSpot <%= cell_class %>">N/A</td>
	 <% end %>
	 <% if remaining_cells > 0 %></tr><% end %>
	</table>
      <% end %>
    </div>
  </div>
</div>

<% if @waiting_player %>
  <%= render "player_actions" %>
<% end %>

<% style = @tournament.started? ? "padding-bottom: 0px;" : "" %>
<div class="tournamentPanel" style="<%= style %>">
  <h2>Tournament Bracket</h2>

  <% if @tournament.started? %>
    <%= render "partial_bracket" %>
  <% else %>
    <div class="noTournamentsMessage">
      Brackets will be generated once the tournament starts.
    </div>
  <% end %>
</div>
