<div id="additionalLinks">
  <div class="ribbonTitle">
    ADDITIONAL LINKS
  </div>

  <div class="ribbonFold">
    <%= image_tag "big_ribbon_fold.png" %>
  </div>
  
  <div class="sidebarLeft">
    <div id="additionalLinkList">
      <ul>
	<li><%= link_to "Cloud Blog", "http://blog.cloudleagues.com" %></li>
	<li><%= link_to "r/Starcraft", "http://reddit.com/r/starcraft" %></li>
	<li><%= link_to "Team Liquid", "http://www.teamliquid.net" %></li>
	<li><%= link_to "SC2 Casts", "http://www.sc2casts.com" %></li>
	<li><%= link_to "SC2 Daily", "http://www.sc2daily.com" %></li>
	<li><%= link_to "Well Played", "http://www.wellplayed.org" %></li>
	<li><%= link_to "Cloud Stream", "#_", style: "border-bottom: 0;" %></li>
      </ul>
    </div>
  </div>
</div>
