<div id="userNavigation">
  <div class="userPane">
    <div class="userPortrait"></div>

    <ul class="userInformation">
      <li>
	Welcome <b><%= current_user ? current_user.login : "Guest" %></b>
      </li>
      
      <li>
	<% if current_user %>
	  <% win_loss_array = current_user.win_loss_array %>
	  Wins: <%= win_loss_array[0] %> | Losses: <%= win_loss_array[1] %>
	<% else %>
	  Login to view record.
	<% end %>
      </li>
    </ul>

    <% if current_user %>
      <div class="button_outer">
	<%= link_to "Your Profile", user_profile_path(current_user), class: "button_inner" %>
      </div>

      <div class="button_outer last_button">
	<dl class="dropMenu">
	  <dt>
	    <%= link_to "", "javascript:void(0)", class: "button_inner", id: "linkglobal"  %>
	  </dt>
	  <dd>
	    <ul id="ulglobal">
	      <li style="margin-top: 2px;"><%= link_to "Messages", "#" %></li>
	      <li><%= link_to "Logout", logout_path, method: :delete %></li>
	    </ul>
	  </dd>
	</dl>
      </div>
 
    <% else %>
      <div class="button_outer">
	<%= link_to "Login", login_path, class: "button_inner" %>
      </div>

      <div class="button_outer last_button">
	<%= link_to "Register", new_user_path, class: "button_inner" %>
      </div>
    <% end %>
  </div>
</div>
