<%= form_for @account_information, url: user_profile_path(@user) do |form| %>
  <%= render "shared/error_messages", target: @account_information %>

  <h3>Required Stuff</h3>
  <fieldset>
    <table class="requiredInformationTable">
      <tr>
	<td><%= form.label :character_name, "SC2 Name" %></td>
	<td><%= form.text_field :character_name %></td>
      </tr>

      <tr>
	<td><%= form.label :character_code, "Character Code" %></td>
	<td><%= form.text_field :character_code %></td>
      </tr>

      <tr>
	<% user_race = @user.account_information.race unless @user.account_information.nil? %>
	<td><%= form.label :race, "Race" %></td>
	<td><%= select_tag "account_information[race]", options_for_select(AccountInformation::RACES.keys.map { |k| [AccountInformation::RACES[k], k] }, user_race) %></td>
      </tr>

      <tr>
	<% user_league = @user.account_information.league unless @user.account_information.nil? %>
	<% leagues = Tournament::LEAGUES.keys %>
	<% leagues.delete Tournament::ALL %>
	<td><%= form.label :league, "League" %></td>
	<td><%= select_tag "account_information[league]", options_for_select(leagues.map { |k| [Tournament::LEAGUES[k], k] }, user_league) %></td>
      </tr>

      <tr>
	<% user_time_zone = @user.account_information.time_zone unless @user.account_information.nil? %>
	<% user_time_zone ||= CloudLeagues::Application.config.time_zone %>
	<% time_zones = ActiveSupport::TimeZone.us_zones %>
	<td><%= form.label :time_zone, "Time Zone" %></td>
	<td><%= select_tag "account_information[time_zone]", options_for_select(time_zones.map { |tz| [tz.to_s, tz.name] }, user_time_zone) %></td>
      </tr>
    </table>

    <h3>Optional Stuff</h3>
    <table class="optionInformationTable">
      <tr>
	<td><%= form.label :avatar, "Avatar" %></td>
	<td><%= form.file_field :avatar %></td>
      </tr>

      <tr>
	<td><%= form.label :reddit_name, "Reddit Name" %></td>
	<td><%= form.text_field :reddit_name %></td>
      </tr>
    </table>

    <%= form.submit "Submit", id: "submitButton" %>
  </fieldset>
<% end %>
