<%= form_for @account_information, url: user_profile_path(@user) do |form| %>
  <%= render "shared/error_messages", target: @account_information %>

  <fieldset>
    <ul class="accountInformationForm">
      <li>
	<%= form.label :reddit_name, "Reddit Username" %>
	<%= form.text_field :reddit_name %>
      </li>
      
      <li>
	<%= form.label :character_name, "Starcraft Character Name" %>
	<%= form.text_field :character_name %>
      </li>

      <li>
	<%= form.label :character_code, "Character Code" %>
	<%= form.text_field :character_code %>
      </li>

      <li>
	<%= form.submit "Submit" %>
      </li>
    </ul>
  </fieldset>
<% end %>
