<h2>Match Between <%= @match.player_one.login %> and <%= @match.player_two.login %></h2>
<p>ID: <%= @match.id %></p>
<p>Player One <%= @match.player_one_accepts ? "did" : "did not" %> accept.</p>
<p>Player Two <%= @match.player_two_accepts ? "did" : "did not" %> accept.</p>
<p>Winner: <%= @match.winner %>
<p>This match <%= @match.contested ? "is" : "is not" %> contested.</p>
