<%= form_for @user_session, :url => login_path do |form| %>
  <%= render "shared/error_messages", :target => @user_session %>

  <fieldset>
    <table>
      <tr>
	<td><%= form.label :login, "Username" %></td>
	<td><%= form.text_field :login %></td>
      </tr>

      <tr>
	<td><%= form.label :password, "Password" %></td>
	<td><%= form.password_field :password %></td>
      </tr>
      
      <tr><td></td><td style="text-align: right;"><%= form.submit "Submit" %></td></tr>
    </table>
  </fieldset>
<% end %>
