<!DOCTYPE html>
<html>
  <head>
    <title>CloudLeagues</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="contentWrapper">
      <header>
	<%= content_for?(:site_navigation) ? yield(:site_navigation) : render("shared/site_navigation") %>
      </header>
      
      <div id="mainContainer">
	<div id="mainContent">
	  <%= yield %>

	  <footer>
	    <%= content_for?(:footer) ? yield(:footer) : render("shared/footer") %>
	  </footer>
	</div>
	
	<div id="sidebar">
	  <div id="sidebarAd">
	    <%= image_tag "sidebar_filler.png" %>
	  </div>
	  
	  
	  <%= content_for?(:sidebar) ? yield(:sidebar) : render("shared/sidebar") %>
	</div>
	
	<div id="sidebarRibbonFold">
	  <%= image_tag "ribbon_fold.png" %>
	  <div style="height: 246px;"></div>
	  <%= image_tag "ribbon_fold.png"  %>
	</div>
      </div>
      
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29316848-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
